body {
    font-family: Arial, sans-serif;
}
header {
    text-align: center;
    padding: 10px;
    background-color: #ffe0fc;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:#333 solid 2px;
    margin-bottom: 10px;
}
section {
    margin: 20px;
}
.project {
    width: 200px; /* Square dimensions */
    height: 200px;
    border: 1px solid #4e4c4c;
    margin: 10px;
    display: inline-block; /* Aligns the containers side by side */
    text-align: center;
    line-height: 200px; /* Vertically centers the text */
}
h1, h2 {
    color: #333;
    text-align:center;
}
#bio, #work {
    background-color:#f5ebf4;
    padding: 15px;
    text-align:center;
}
footer {
    background-color:#f5ebf4;
    text-align: center;
    padding: 10px;
}
